.cardimgtop {
  width: 100%;
  height: 100%;
  padding: 10px;
  max-width: 200px;
}
.card {
  margin-bottom: 20px;
  min-height: 450px;
  /* width: 200px;
  height: 200px; */
}
.imagecontainer {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
